<?xml version="1.0"?>
<!--
 ~ Copyright © 2025 MageStack. All rights reserved.
 ~ See COPYING.txt for license details.
 ~
 ~ DISCLAIMER
 ~
 ~ Do not make any kind of changes to this file if you 
 ~ wish to upgrade this extension to newer version in the future.
 ~
 ~ @category  MageStack
 ~ @package   MageStack_Core
 ~ @author    Amit Biswas <amit.biswas.webdeveloper@gmail.com>
 ~ @copyright 2025 MageStack
 ~ @license   https://opensource.org/licenses/MIT  MIT License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\Structure\Element\Field">
        <plugin name="MageStack_Core::ConfigPathHint" 
        type="MageStack\Core\Plugin\ConfigFieldPlugin" sortOrder="10" disabled="false" />
    </type>
</config>
